# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!backpack.obj
!randy.obj
!tempcube.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!assimp-vc143-mtd.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
!libglfw3.a
*.lib
!glfw3.lib
!irrKlang.lib
!assimp.lib

# Executables
*.exe
*.out
*.app

build/
.vscode/
/.vs
/CMakeFiles
/Pilk-Engine.dir/Release/Pilk-Engine.tlog
/x64/Release
/Pilk-Engine.dir/Release
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CMakeCache.txt
/cmake_install.cmake
/Pilk-Engine.sln
/Pilk-Engine.vcxproj
/Pilk-Engine.vcxproj.filters
/ZERO_CHECK.vcxproj
/Pilk-Engine.vcxproj.user
/ZERO_CHECK.vcxproj.filters
/libs/assimp/contrib/zlib/.vs/zlib
